<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Express Blog</title>
  </head>
  <body>
    <div>
      <nav>
        <div id="part-1">
          <h4><span>E X P R E S S</span> B L O G</h4>
        </div>
        <div id="part-2">
          <a href="/">Home</a>
          <a href="/compose">Compose</a>
          <a href="/about">About Us</a>
          <a href="/contact">Contact</a>
        </div>
      </nav>
    </div>