<%- include('partials/header.ejs') %>
<div class="container">
  <h1>About Us</h1>
  <p>
    Scelerisque varius morbi enim nunc faucibus a. A scelerisque purus semper
    eget duis at tellus at urna. Turpis massa tincidunt dui ut ornare lectus
    sit. Pharetra pharetra massa massa ultricies mi quis. Mauris sit amet massa
    vitae tortor condimentum lacinia quis vel. Sociis natoque penatibus et
    magnis dis parturient montes nascetur. Ac tortor vitae purus faucibus ornare
    suspendisse sed nisi. Nunc lobortis mattis aliquam faucibus purus in massa
    tempor nec. Et molestie ac feugiat sed lectus vestibulum mattis ullamcorper
    velit. Lorem ipsum dolor sit amet. Facilisis mauris sit amet massa vitae. Id
    consectetur purus ut faucibus. Arcu ac tortor dignissim convallis aenean et
    tortor. Vestibulum morbi blandit cursus risus at ultrices mi tempus.
  </p>
</div>
<%- include('partials/footer.ejs') %>
