<%- include('partials/header.ejs') %>
<div class="container">
  <h1>Contact</h1>
  <p>
    Consectetur libero id faucibus nisl tincidunt eget nullam. Odio euismod
    lacinia at quis risus sed vulputate odio ut. Non nisi est sit amet facilisis
    magna etiam tempor orci. Lorem ipsum dolor sit amet consectetur adipiscing
    elit duis tristique. Id diam vel quam elementum. Vehicula ipsum a arcu
    cursus vitae. Ullamcorper malesuada proin libero nunc consequat interdum
    varius sit. Tortor dignissim convallis aenean et tortor at risus viverra.
    Sit amet volutpat consequat mauris nunc congue nisi vitae suscipit. Nec
    ullamcorper sit amet risus nullam. Amet justo donec enim diam vulputate. Et
    tortor consequat id porta nibh.
  </p>
</div>
<%- include('partials/footer.ejs') %>
